---
import type { ImageMetadata } from "astro";
import type { arrayOutputType } from "astro/zod";
import { Image } from "astro:assets";

interface Props {
  title: string;
  content: string;
  leftProfile: any;
  rightProfile: any;
  width: number;
  height: number;
}

const block = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}",
  { eager: true }
);

const imageSrc = images[block.leftProfile.imagePath]?.default;
const src =
  typeof imageSrc === "string"
    ? imageSrc.replace(/^\./, "/_cloudcannon")
    : imageSrc ?? block.leftProfile.imagePath;

if (!src) {
  throw new Error(
    `"${block.leftProfile.imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
}

const imageSrcR = images[block.rightProfile.imagePath]?.default;
const srcR =
  typeof imageSrcR === "string"
    ? imageSrcR.replace(/^\./, "/_cloudcannon")
    : imageSrcR ?? block.rightProfile.imagePath;

if (!src) {
  throw new Error(
    `"${block.rightProfile.imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
}
---

<div class="card">
  <h2>{block.title}</h2>
  <p>{block.content}</p>

  <div class="left-profile">
    <Image
      src={src}
      alt={block.leftProfile.name}
      width={block.width}
      height={block.height}
    />
    <div class="title">
      {block.leftProfile.name}
      {block.leftProfile.position}
    </div>
    <div class="text">
      {block.leftProfile.content}
    </div>
  </div>
  <div class="right-profile">
    <Image
      src={srcR}
      alt={block.rightProfile.name}
      width={block.width}
      height={block.height}
    />
    <div class="title">
      {block.rightProfile.name}
      {block.rightProfile.position}
    </div>
    <div class="text">
      {block.rightProfile.content}
    </div>
  </div>
</div>
