---
import SquintButton from "@components/squintbutton/squintbutton.astro";
import menu from "@data/menu.json";
import { Image } from "astro:assets";
import headerLogo from "src/assets/logos/logo-black.svg";
---

<nav class="navbar">
  <div class="header-logo">
    <Image src={headerLogo} alt="Squint Logo" />
  </div>
  <ul>
    {
      menu.items.map((link) => (
        <li class="nav-item">
          <a href={`${link.link}`} class="link">
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
  <div class="button">
    {
      (
        <SquintButton
          color="black"
          url={menu.btn.link}
          text={menu.btn.text}
          padding="narrow"
        />
      )
    }
  </div>
</nav>
