---
import SquintButton from "@components/squintbutton/squintbutton.astro";
import menu from "@data/menu.json";
import { getImage } from "astro:assets";

const logoImage = await getImage({
  src: menu.logo,
  format: "svg",
  width: 96.914,
  height: 32,
});
---

<nav class="navbar">
  <div class="header-logo">
    <picture>
      <source srcset={logoImage.src} />
      <img src={logoImage.src} alt="logo Squint" />
    </picture>
  </div>
  <ul>
    {
      menu.items.map((link) => (
        <li class="nav-item">
          <a href={`${link.link}`} class="link">
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
  <div class="button">
    {
      (
        <SquintButton
          color="black"
          url={menu.btn.link}
          text={menu.btn.text}
          padding="narrow"
        />
      )
    }
  </div>
</nav>
