---
import footer from "@data/footer.json";
import footerLogo from "../../assets/logos/logo-white.svg";
import { Image } from "astro:assets";
---

<div class="footer">
  <div class="footer-top">
    <div class="contact-title">{footer.emailTitle}</div>
    <div class="contact">{footer.email}</div>
    <div class="footer-menu">
      <ul>
        {
          footer.menu.map((link) => (
            <li class="nav-item">
              <a href={`${link.link}`} class="link">
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="footer-socials">
      {
        footer["social"].map((link) => (
          <a href={`${link.link}`} class="link">
            {link.text}
          </a>
        ))
      }
    </div>
    <div class="footer-logo">
      <Image src={footerLogo} alt="Squint Logo" />
    </div>
  </div>

  <div class="footer-bottom">
    {
      footer["bottom-menu"].map((link) => (
        <li class="nav-item">
          <a href={`${link.link}`} class="link">
            {link.text}
          </a>
        </li>
      ))
    }
  </div>
</div>
